# Importando as bibliotecas

In [1]:
# Manipulação
import pandas as pd
import numpy as np

# Visualização
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns

# Abrir arquivos zip
from zipfile import ZipFile


# Deixar os gráficos do pyplot com o mesmo tema do seaborn
plt.style.use("seaborn")
plt.rcParams['figure.figsize'] = (16,9)

# Colocar o tema padão do seaborn
sns.set_theme()

# deixar o número de casas depois do ponto flutuante fixo em 2 casas
pd.options.display.float_format = "{:.2f}".format

# Abrindo o arquivo PENSE

In [2]:
path_zip = 'PeNSE_2015_AMOSTRA2.zip' # no meu caso, o notebook está na mesma pasta que o arquivo zip
arq_zip = ZipFile(path_zip)
conteudo_arquivo_zip = arq_zip.namelist()[0] # como sabia que era o primeiro arquivo, não precisei explorar o conteúdo

df = pd.read_csv(arq_zip.open(conteudo_arquivo_zip), sep=';')
df.head()

,ANOPESQ,PAIS,REGEOGR,VB00004,VB01001,VB01002,VB01003,VB01004,VB01005,VB01006,...,ESTRATO_EXP,ESTRATOGEOREG,PESO,V0006,V0007,V0008,V0041,aluno,escola,turma
0,2015,76,1,1,2,1,13,7,7,1,...,1223,1,"299,735235",1,2,4,1,1,1,296
1,2015,76,1,1,2,1,14,4,7,1,...,1223,1,"355,170081",1,2,4,1,2,1,296
2,2015,76,1,1,1,4,13,6,7,1,...,1223,1,"299,735235",1,2,4,1,3,1,296
3,2015,76,1,1,1,1,14,6,7,1,...,1223,1,"355,170081",1,2,4,1,4,1,296
4,2015,76,1,1,1,1,13,9,7,1,...,1223,1,"299,735235",1,2,4,1,5,1,296

---

# Análise inicial para checar as colunas com apenas um valor

In [3]:
df.T[df.nunique() == 1]

,0,1,2,3,4,5,6,7,8,9,...,16546,16547,16548,16549,16550,16551,16552,16553,16554,16555
ANOPESQ,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,...,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015
PAIS,76,76,76,76,76,76,76,76,76,76,...,76,76,76,76,76,76,76,76,76,76
VB00004,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [4]:
# pergunta sobre telefone em casa
df.VB01013.value_counts()

2     8479
1     8057
99      20
Name: VB01013, dtype: int64

### os valores bem próximos não tem muito significado, visto que a posse de telefone em casa não significa a condição soicio-econômica como antigamente

---

# Descrição de exclusões inicias de colunas do dataframe
### Exclusão das colunas do ano de pesquisa, do país e sobre a concordância da participação da pesquisa porque possuem resposta única;
### Exclusão das colunas de mês de aniversário e ano de nascimento. O ano de aniversário é redundante com a informação de idade e para minha análise o mês de nascimento não faz diferença;
### Exclusão da coluna de telefone fixo em casa porque atualmente não significa muita coisa, visto que está caindo em desuso;
### Exclusão das colunas de possuir moto e emprega doméstica, pois outras colunas, especialmente a de carro é suficiente para análise de questão financeira familiar (computador, celular e acesso à internet e número de banheiros);
### Exclusão das perguntas sobre o próprio questionário pois não fará parte da análise;
### Exclusão do tipo de escola particular porque não vou entrar no mérito dessa análise;
### Exclusão das colunas 'ESTRATOGEOREG', 'ESTRATO_EXP' porque o dicionário não explica o que são e 
### Exclusão das 3 últimas colunas porque não tem conteúdo relevante para analisar.

In [5]:
df.drop(['ANOPESQ', 'PAIS', 'VB00004', 'VB01004', 'VB01005', 'VB01013', 'VB01018', 'VB01020A', 'VB16001A01', 'VB16001A02', 'VB16001A03', 'VB16001A04', 'VB16001A05',
        'VB16001A06', 'VB16001A07', 'VB16001A08', 'V0041', 'aluno', 'escola', 'turma', 'ESTRATOGEOREG', 'ESTRATO_EXP'], axis=1, inplace=True)
df.head()

,REGEOGR,VB01001,VB01002,VB01003,VB01006,VB01007,VB01008A,VB01010A,VB01011,VB01012,...,VB17001,VB17002,VB17003,VB17004,VB17005,VB17006,PESO,V0006,V0007,V0008
0,1,2,1,13,1,2,7,3,2,-1,...,371.00,1570.00,"37,1",157,2,1,"299,735235",1,2,4
1,1,2,1,14,1,1,7,3,2,-1,...,502.00,1520.00,"50,2",152,2,2,"355,170081",1,2,4
2,1,1,4,13,1,1,5,5,2,-1,...,482.00,1614.00,"48,2","161,4",2,2,"299,735235",1,2,4
3,1,1,1,14,1,1,7,4,2,-1,...,694.00,1725.00,"69,4","172,5",2,3,"355,170081",1,2,4
4,1,1,1,13,1,2,5,4,2,-1,...,789.00,1675.00,"78,9","167,5",2,4,"299,735235",1,2,4

## Troca de conteúdo para facilitar a análise 
### 1. Informações genéricas

In [6]:
df.REGEOGR = df.REGEOGR.replace({1 : 'Norte', 2 : 'Nordeste', 3 : 'Sudeste', 4 : 'Sul', 5 : 'Centro-Oeste'})
df.VB01001 = df.VB01001.replace({1 : 'Masculino', 2 : 'Feminino'})
df.VB01002 = df.VB01002.replace({1 : 'Branca', 2 : 'Preta', 3 : 'Amarela', 4 : 'Parda', 5 : 'Indígena', 99 : 'Não informado'})
df.VB01006 = df.VB01006.replace({1 : 'Sim', 2 : 'Não', 99 : 'Não informado'})
df.VB01007 = df.VB01007.replace({1 : 'Sim', 2 : 'Não', 99 : 'Não informado'})
df.VB01014 = df.VB01014.replace({1 : 'Sim', 2 : 'Não', 99 : 'Não informado'})
df.VB01015A = df.VB01015A.replace({1 : 'Sim', 2 : 'Não', 99 : 'Não informado'})
df.VB01016 = df.VB01016.replace({1 : 'Sim', 2 : 'Não', 99 : 'Não informado'})
df.VB01017 = df.VB01017.replace({1 : 'Sim', 2 : 'Não', 99 : 'Não informado'})
df.VB01021 = df.VB01021.replace({1 : '5ª série', 2 : '6ª série', 3 : '7ª série', 4 : '8ª série', 5 : '1º ano', 6 : '2º ano', 7 : '3º ano', 99 : 'Não informado'})
df.VB01022 = df.VB01022.replace({1 : 'Manhã', 2	: 'Intermediário', 3 : 'Tarde', 4 : 'Noite', 5	: 'Integral', 99 : 'Não informado'})
df.V0006 = df.V0006.replace({1 : 'Urbana', 2 : 'Rural'})
df.V0007 = df.V0007.replace({1 : 'Pública', 2 : 'Privada'})
df.V0008 = df.V0008.replace({1 : 'Municipal', 2 : 'Estadual', 3 : 'Federal', 4 : 'Privada'})
df.VB01019 = df.VB01019.replace({1 : "Não tem banheiro", 2 : "1 banheiro", 3 : "2 banheiros", 4 : "3 banheiros", 5 : "4 banheiros ou mais", 99 : "Não informado"})
df.VB02024 = df.VB02024.replace({1 : 'Nunca', 2 : 'Raramente', 3 : 'Às vezes', 4 : 'Na maior parte das vezes', 5 : 'Sempre', 99 : 'Não informado'})

In [7]:
df.rename(columns={'REGEOGR' : 'regiao_geografica', 'VB01001' : 'sexo', 'VB01002' : 'cor_ou_raca', 'VB01003' : 'idade', 'VB01021' : 'serie_atual', 'VB01022' : 'turno', 
                   'VB01006' : 'mora_com_mae', 'VB01007' : 'mora_com_pai', 'VB01014' : 'possui_celular', 'VB01015A' : 'computador_em_casa', 
                   'VB01016' : 'internet_em_casa', 'VB01017' : 'carro_em_casa', 'V0006' : 'esc_urbana_ou_rural','V0007' : 'esc_publica_ou_privada',
                   'V0008' : 'esfera_adm_escola', 'VB01019' : 'quantidade_banheiros_casa', 'VB02024' : 'frequencia_ficar_com_fome_sem_comida_em_casa',
                  }, inplace=True)

In [8]:
df

,regiao_geografica,sexo,cor_ou_raca,idade,mora_com_mae,mora_com_pai,VB01008A,VB01010A,VB01011,VB01012,...,VB17001,VB17002,VB17003,VB17004,VB17005,VB17006,PESO,esc_urbana_ou_rural,esc_publica_ou_privada,esfera_adm_escola
0,Norte,Feminino,Branca,13,Sim,Não,7,3,2,-1,...,371.00,1570.00,"37,1",157,2,1,"299,735235",Urbana,Privada,Privada
1,Norte,Feminino,Branca,14,Sim,Sim,7,3,2,-1,...,502.00,1520.00,"50,2",152,2,2,"355,170081",Urbana,Privada,Privada
2,Norte,Masculino,Parda,13,Sim,Sim,5,5,2,-1,...,482.00,1614.00,"48,2","161,4",2,2,"299,735235",Urbana,Privada,Privada
3,Norte,Masculino,Branca,14,Sim,Sim,7,4,2,-1,...,694.00,1725.00,"69,4","172,5",2,3,"355,170081",Urbana,Privada,Privada
4,Norte,Masculino,Branca,13,Sim,Não,5,4,2,-1,...,789.00,1675.00,"78,9","167,5",2,4,"299,735235",Urbana,Privada,Privada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16551,Centro-Oeste,Feminino,Parda,12,Sim,Sim,7,5,2,-1,...,567.00,1679.00,"56,7","167,9",2,2,"447,815539",Urbana,Privada,Privada
16552,Centro-Oeste,Masculino,Branca,15,Sim,Sim,7,4,2,-1,...,619.00,1858.00,"61,9","185,8",2,2,"592,50744",Urbana,Privada,Privada
16553,Centro-Oeste,Masculino,Parda,13,Sim,Sim,7,4,2,-1,...,609.00,1594.00,"60,9","159,4",2,3,"401,131512",Urbana,Privada,Privada
16554,Centro-Oeste,Masculino,Parda,14,Sim,Sim,7,4,2,-1,...,473.00,1578.00,"47,3","157,8",2,2,"442,718091",Urbana,Privada,Privada
16555,Centro-Oeste,Masculino,Preta,15,Sim,Sim,7,5,2,-1,...,626.00,1639.00,"62,6","163,9",2,3,"592,50744",Urbana,Privada,Privada

### 2. Substituição das colunas que serão analisadas inicialmente - Saúde mental e física

In [9]:
df.VB07002 = df.VB07002.replace({1 : 'Nunca', 2 : 'Raramente', 3 : 'Às vezes', 4 : 'Na maior parte do tempo', 5 : 'Sempre', 99 : 'Não informado'})
df.VB07004 = df.VB07004.replace({1 : 'Nunca', 2 : 'Raramente', 3 : 'Às vezes', 4 : 'Na maior parte do tempo', 5 : 'Sempre', 99 : 'Não informado'})
df.VB07006 = df.VB07006.replace({1 : 'Nunca', 2 : 'Raramente', 3 : 'Às vezes', 4 : 'Na maior parte do tempo', 5 : 'Sempre', 99 : 'Não informado'})
df.VB07007 = df.VB07007.replace({1 : 'Nunca', 2 : 'Raramente', 3 : 'Às vezes', 4 : 'Na maior parte do tempo', 5 : 'Sempre', 99 : 'Não informado'})
df.VB07009 = df.VB07009.replace({1 : 'Sim', 2 : 'Não', 99 : 'Não informado'})
df.VB07010 = df.VB07010.replace({1 : 'Sim', 2 : 'Não', 3 : 'Não sei o que é bullying', 99 : 'Não informado'})
df.VB12001 = df.VB12001.replace({1 : 'Nunca', 2 : 'Raramente', 3 : 'Às vezes', 4 : 'Na maioria das vezes', 5 : 'Sempre', 99 : 'Não informado'})
df.VB12002 = df.VB12002.replace({1 : 'Nunca', 2 : 'Raramente', 3 : 'Às vezes', 4 : 'Na maioria das vezes', 5 : 'Sempre', 99 : 'Não informado'})
df.VB12003 = df.VB12003.replace({1 : 'Nenhum amigo (0)', 2 : '1 amigo', 3 : '2 amigos', 4 : '3 ou mais amigos', 99 : 'Não informado'})
df.VB07008 = df.VB07008.replace({-1 : "Pulo no questionário", 1 : "A minha cor ou raça", 2 : "A minha religião", 3 : "A aparência do meu rosto", 4 : "A aparência do meu corpo",
                                 5 : "A minha orientação sexual", 6 : "A minha região de origem", 7 : "Outros motivos/causas", 99 : "Não informado"})
df.VB09003 = df.VB09003.replace({1 : "Nenhuma vez nos últimos 30 dias (0 vez)", 2 : "1 vez nos últimos 30 dias", 3 : "2 ou 3 vezes nos últimos 30 dias", 
                                 4 : "4 ou 5 vezes nos últimos 30 dias", 5 : "6 ou 7 vezes nos últimos 30 dias", 6 : "8 ou 9 vezes nos últimos 30 dias", 
                                 7 : "10 ou 11 vezes nos últimos 30 dias", 8 : "12 vezes ou mais nos últimos 30 dias", 99 : "Não informado"})
df.VB09016 = df.VB09016.replace({-1 : "Pulo no questionário", 1 : "Sim", 2 : "Não", 99 : "Não informado"})
df.VB0901701 = df.VB0901701.replace({-1 : "Pulo no questionário", 1 : "Sim", 2 : "Não", 99 : "Não informado"})
df.VB0901702 = df.VB0901702.replace({-1 : "Pulo no questionário", 1 : "Sim", 2 : "Não", 99 : "Não informado"})
df.VB0901703 = df.VB0901703.replace({-1 : "Pulo no questionário", 1 : "Sim", 2 : "Não", 99 : "Não informado"})
df.VB0901704 = df.VB0901704.replace({-1 : "Pulo no questionário", 1 : "Sim", 2 : "Não", 99 : "Não informado"})
df.VB0901705 = df.VB0901705.replace({-1 : "Pulo no questionário", 1 : "Sim", 2 : "Não", 99 : "Não informado"})

In [10]:
df.rename(columns={'VB07002' : 'pais_ciencia_tempo_livre', 'VB07004' : 'pais_entender_problemas', 'VB07006' : 'colegas_tratam_bem', 'VB07007' : 'sofrer_ofensas_colegas',
                  'VB07008' : 'motivo_ofensas', 'VB07009' : 'causar_ofensas', 'VB07010' : 'sofrer_bullying', 'VB12001' : 'sentir_se_sozinho', 'VB12002' : 'não_dormir_noite',
                   'VB12003' : 'quantidade_amigos', 'VB09003' : 'sofrer_agrecao_fisica_familiar', 'VB09016' : 'sexo_forcado', 'VB0901701' : 'sexo_forcado_namorado',
                   'VB0901702' : 'sexo_forcado_amigo', 'VB0901703' : 'sexo_forcado_pais_ou_padastros', 'VB0901704' : 'sexo_forcado_familiares', 
                   'VB0901705' : 'sexo_forcado_desconhecido', 'VB0901706' : 'sexo_forcado_outros',}, inplace=True)

---

### Criação de um dataframe menor para manipular

In [11]:
dados = df[['regiao_geografica', 'sexo', 'cor_ou_raca', 'idade', 'serie_atual', 'turno', 'mora_com_mae', 'mora_com_pai', 'possui_celular', 'computador_em_casa', 
            'internet_em_casa', 'carro_em_casa', 'esc_urbana_ou_rural', 'esc_publica_ou_privada', 'esfera_adm_escola', 'pais_ciencia_tempo_livre', 'pais_entender_problemas',
            'colegas_tratam_bem', 'sofrer_ofensas_colegas', 'motivo_ofensas', 'causar_ofensas', 'sofrer_bullying', 'sentir_se_sozinho', 'não_dormir_noite', 
            'quantidade_amigos', 'sofrer_agrecao_fisica_familiar', 'sexo_forcado', 'sexo_forcado_namorado', 'sexo_forcado_amigo', 'sexo_forcado_pais_ou_padastros',
            'sexo_forcado_familiares', 'sexo_forcado_desconhecido', 'sexo_forcado_outros','quantidade_banheiros_casa', 'frequencia_ficar_com_fome_sem_comida_em_casa']].copy()

In [12]:
dados.head()

,regiao_geografica,sexo,cor_ou_raca,idade,serie_atual,turno,mora_com_mae,mora_com_pai,possui_celular,computador_em_casa,...,sofrer_agrecao_fisica_familiar,sexo_forcado,sexo_forcado_namorado,sexo_forcado_amigo,sexo_forcado_pais_ou_padastros,sexo_forcado_familiares,sexo_forcado_desconhecido,sexo_forcado_outros,quantidade_banheiros_casa,frequencia_ficar_com_fome_sem_comida_em_casa
0,Norte,Feminino,Branca,13,8ª série,Manhã,Sim,Não,Sim,Sim,...,Nenhuma vez nos últimos 30 dias (0 vez),Não,Pulo no questionário,Pulo no questionário,Pulo no questionário,Pulo no questionário,Pulo no questionário,-1,3 banheiros,Nunca
1,Norte,Feminino,Branca,14,8ª série,Manhã,Sim,Sim,Sim,Sim,...,Nenhuma vez nos últimos 30 dias (0 vez),Não,Pulo no questionário,Pulo no questionário,Pulo no questionário,Pulo no questionário,Pulo no questionário,-1,1 banheiro,Nunca
2,Norte,Masculino,Parda,13,8ª série,Manhã,Sim,Sim,Sim,Sim,...,12 vezes ou mais nos últimos 30 dias,Não,Pulo no questionário,Pulo no questionário,Pulo no questionário,Pulo no questionário,Pulo no questionário,-1,2 banheiros,Nunca
3,Norte,Masculino,Branca,14,8ª série,Manhã,Sim,Sim,Sim,Sim,...,1 vez nos últimos 30 dias,Não,Pulo no questionário,Pulo no questionário,Pulo no questionário,Pulo no questionário,Pulo no questionário,-1,3 banheiros,Nunca
4,Norte,Masculino,Branca,13,8ª série,Manhã,Sim,Não,Sim,Sim,...,Nenhuma vez nos últimos 30 dias (0 vez),Sim,Não,Não,Não,Não,Não,1,4 banheiros ou mais,Às vezes

In [13]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df=dados, explorative=True)
profile.to_file('output.html')

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=49.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

dicionario_colunas = {
    'VB00004' : 'concordancia_participacao', 'VB01001' : 'sexo', 'VB01002' : 'cor_ou_raca', 'VB01003' : 'idade', 'VB01004' : 'mês_aniversario', 
    'VB01005' : 'ano_nasc', 'VB01021' : 'serie_atual', 'VB01022' : 'turno', 'VB01023' : 'regime_estudo', 'VB01024' : 'internato', 'VB01025' : 'escolaridade_almejada', 
    'VB01026' : 'objetivo_assim_que_terminar_curso', 'VB01006' : 'mora_com_mae', 'VB01007' : 'mora_com_pai', 'VB01010A' : 'pessoas_moram_com', 
    'VB01013' : 'telefone_fixo', 'VB01014' : 'celular', 'VB01015A' : 'computador_casa', 'VB01016' : 'internet_casa', 'VB01017' : 'carro_casa', 
    'VB01018' : 'moto_casa', 'VB01019' : 'banheiros', 'VB01020A' : 'empregado_domestico', 'VB02019A' : 'café_da_manha', 'VB01012' : 'pagamento_trabalho', 
    'VB01011' : 'trabalho', 'VB01008A' : 'estudo_mae', 'VB02017A' : 'almoco_janta_em_familia', 'VB02018A' : 'comer_tv_ou_estudando', 'VB02021' : 'oferta_merenda_escolar', 
    'VB02020A' : 'consumo_merenda_escolar', 'VB02001' : 'dias_consumo_feijao', 'VB02002' : 'dias_consumo_salgado', 'VB02004A' : 'dias_consumo_legume_7', 
    'VB02010' : 'dias_consumo_doces_7', 'VB02011' : 'dias_consumo_frutas_7', 'VB02013' : 'dias_consumo_refrigerante_7', 'VB02022' : 'dias_consumo_industrializado_7', 
    'VB02023' : 'dias_consumo_fastfood_7', 'VB02024' : 'dias_fome_7', 'VB02025' : 'dias_consumo_frutas_7', 'VB02026' : 'dias_consumo_legume_30', 
    'VB02027' : 'dias_consumo_refrigerante_30', 'VB03001A1' : 'ir_a_pe_ou_bicicleta_7', 'VB03002A1' : 'tempo_ir_a_pe_ou_bicicleta', 'VB03001A2' : 'voltar_a_pe_ou_bicicleta_7', 
    'VB03002A2' : 'tempo_voltar_a_pe_ou_bicicleta', 'VB03003A' : 'ed_fisica_7', 'VB03005A' : 'tempo_ed_fisica_7', 'VB03006A' : 'atividade_fisica_7', 
    'VB03007' : 'tempo_atividade_fisica', 'VB03011A' : 'atividade_fisica_mais_1h', 'VB03008' : 'possibilidade_atividade', 'VB03009A' : 'horas_tv', 
    'VB03010A' : 'horas_sentado', 'VB04001' : 'cigarro', 'VB04002' : 'experimentar_cigarro', 'VB04003' : 'cigarro_30', 'VB04009' : 'obtencao_cigarro_30', 
    'VB04010' : 'recusa_venda_cigarro_30', 'VB04008A' : 'tabaco_30', 'VB04011' : 'tipo_tabaco', 'VB04005' : 'presenca_cigarro_7', 'VB04006A' : 'pais_fumentes', 
    'VB05002' : 'bebida_alcolica', 'VB05003' : 'experimentar_bebida_alcolica', 'VB05004' : 'bebida_30', 'VB05005' : 'copos_bebida_30', 'VB05006A' : 'obtencao_bebida_30', 
    'VB05007' : 'bebado', 'VB05009' : 'brigas_falta_briga_bebida', 'VB05010' : 'amigos_bebida', 'VB06001' : 'drogas', 'VB06002' : 'idade_drogas', 
    'VB06003A' : 'drogas_30', 'VB06004A' : 'maconha_30', 'VB06005A' : 'crack_30', 'VB06006' : 'amigos_drogas', 'VB07001' : 'falta_30', 
    'VB07002' : 'pais_ciencia_tempo_livre_30', 'VB07003' : 'pais_dever_de_casa_30', 'VB07004' : 'pais_entender_problemas_30', 'VB07005' : 'pais_mexer_nas_coisas_30', 
    'VB07006' : 'tratado_bem_30', 'VB07007' : 'sofrer_ofensas_30', 'VB07008' : 'motivo_ofensas_30', 'VB07009' : 'causar_ofensas_30', 'VB07010' : 'sofrer_bullying', 
    'VB12001' : 'sentir_sozinho', 'VB12002' : 'não_dormir_noite_ano', 'VB12003' : 'amigos', 'VB08001' : 'praticar_sexo', 'VB08002' : 'idade_sexo', 
    'VB08011' : 'camisinha_primeira_vez', 'VB08003A' : 'pessoas_que_fez_sexo', 'VB08005' : 'metodo_preservativo_ultima_vez', 'VB08006' : 'camisinha_ultima_vez', 
    'VB08007' : 'metodo_contraceptivo_ultima_vez', 'VB08012' : 'qual_metodo_contraceptivo_ultima_vez', 'VB08013' : 'gravidez', 'VB08008' : 'aula_prevencao_gravidez', 
    'VB08009' : 'aula_aids_dst', 'VB08010' : 'aula_uso_camisinha', 'VB10004' : 'lavar_maos_comer_30', 'VB10005' : 'lavar_maos_banheiro_30', 'VB10006' : 'lavar_maos_sabao_30', 
    'VB10001A' : 'vezes_por_dia_escovar_dentes_30', 'VB10002' : 'dor_dente_6_meses', 'VB10003' : 'dentista_1_ano', 'VB09001' : 'falta_seguranca_caminho_30', 
    'VB09002' : 'falta_seguranca_escola_30', 'VB09006A1' : 'cinto_de_seguranca_frente_30', 'VB09006A2' : 'cinto_de_seguranca_tras_30', 'VB09007A' : 'capacete_30', 
    'VB09008' : 'direcao_veiculo_30', 'VB09009' : 'carona_com_motorista_bebido_30', 'VB09003' : 'agrecao_fisica_familiar_30', 'VB09004' : 'briga_com_arma_fogo_30', 
    'VB09005' : 'briga_com_arma_branca_30', 'VB09010' : 'agrecao_fisica_1_ano', 'VB09011' : 'briga_fisica_1_ano', 'VB09012' : 'seriamente_ferido_1_ano', 
    'VB09013A' : 'qual_lesao_sofrida_1_ano', 'VB09014A' : 'causa_lesao_sofrida_1_ano', 'VB09015' : 'acidente_bicicleta_1_ano', 'VB09016' : 'sexo_forcado', 
    'VB0901701' : 'sexo_forcado_namorado', 'VB0901702' : 'sexo_forcado_amigo', 'VB0901703' : 'sexo_forcado_pais_padastros', 'VB0901704' : 'sexo_forcado_familiar', 
    'VB0901705' : 'sexo_forcado_desconhecido', 'VB0901706' : 'sexo_forcado_outros', 'VB13005' : 'estado_de_saude', 'VB13006' : 'falta_motivo_saude_1_ano', 
    'VB13001' : 'atendimento_saude_1_ano', 'VB13002A' : 'motivo_atendimento_saude_1_ano', 'VB13004A' : 'houve_atendimento_saude_ultima_vez', 
    'VB13007' : 'motivo_atendimento_saude_ultima_vez', 'VB13008' : 'ouvir_sobre_hpv', 'VB13009' : 'vacinado_hpv', 'VB14001' : 'chiado_peito_1_ano', 
    'VB14002' : 'asma', 'VB11006' : 'imagem_corporal', 'VB11007' : 'satisfacao_com_corpo', 'VB11001' : 'auto_avaliacao_corpo', 'VB11002' : 'atitude_peso', 
    'VB11003' : 'atitudes_perder_peso_30', 'VB11004A' : 'remedios_perder_peso_30', 'VB11005' : 'remedios_ganhar_peso_30', 'VB16001A01' : 'questionario_facil', 
    'VB16001A02' : 'questionario_dificil', 'VB16001A03' : 'questionario_chato', 'VB16001A04' : 'questionario_legal', 'VB16001A05' : 'questionario_interessante', 
    'VB16001A06' : 'questionario_informativo', 'VB16001A07' : 'questionario_cansativo', 'VB16001A08' : 'questionario_constrangedor', 'VB17001' : 'peso_medido', 
    'VB17002' : 'altura_medida', 'VB17003' : 'peso_total', 'VB17004' : 'altura_total', 'VB17005' : 'imputacao_peso', 'VB17006' : 'estado_nutricional', 
    'V0006' : 'localizacao_escola', 'V0007' : 'adm_escola', 'V0008' : 'esfera_escola', 'V0041' : 'tipo_esocla_particular', 

}

### Dados da organização mundial de saúde:
https://apps.who.int/gho/data/node.sdg.3-4-data?lang=en

### Outra fonte de dados:
https://www.kaggle.com/szamil/who-suicide-statistics